.idea/
dataset/dataset_tables/private/
__pycache__/
outputs/
dataset/private/
evaluation/conf/config_collect_private.yaml
evaluation/results_private/
evaluation/results_private_functions/
evaluation/results_private_functions_skip_reasoning/
evaluation/conf/config_collect_functions.yaml
evaluation/conf/config_collect_skip_reasoning.yaml
/dataset/Text2Analysis/
dataset/completion_finetuning_data/*
dataset/completion_finetuning_data/merge_t2a_and_250.py
testing/
testing_old/
testing_new/
wandb/
venv/
copied/
finetuning/lora/cp/
cluster_venv_4/
ml_loads.txt
debugger_tests.py
test_magicoder.py
/dataset/debugger_finetuning_data/
.pytest_cache/
bin/

# Evaluating agents on cluster:
setup_for_tests.sh
nohup.out
tmp_CL_Python_coder_only_QLoRA_test15631219101_at_1713699771385393964.csv
